<%- include('includes/head'); %>

    <section class="container">
        <form action="/">
            <h1>Your download has started!</h1>
            <h1>Thanks for using XLS / JSON converter!</h1>
            <button>Return to home-page</button>
        </form>
    </section>

    <%- include('includes/footer'); %>